body{
    margin:0
}
#heading{
    height: 95px;
    Display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:relative;
    left: 0px;
    right: 0px;
    top: 0px;
    background: var( --primary-color)
    
}
:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}
.dark-mode{
    --primary-color: #31333a;
    --secondary-color: #fff; 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    width: 85%;}
    nav ul{
        flex:1;
        display: flex;
        justify-content: center
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
        font-size: 20px;
        font-family: Arial;
        color:var(--secondary-color)
        
        }
        nav ul :hover{
            color:#ff4321;
            cursor: pointer;
        }
        #profile-img{
         width: 55px;
         cursor: pointer;
         height: 55px;
         border-radius: 50%;
         margin-left: 30px;
         border-style: solid;
         border-color: black;
         }
         #all{  
           background: var(--primary-color);
           position: relative;
            z-index: 30;
        }
        .info{
            display: flex;
            flex: 1;
            justify-content: space-between;
            color:var(--secondary-color)           
        }
       
        ul li{
            font-size: 12px;
        }
        #info-list{
         text-align: left;
         align-self: center;
         margin-bottom: 160px;
         margin-left: -5px;
         color:var(--secondary-color)
        }
        li:hover{
            color:#ff4321;
            cursor: pointer;
        }
            
        
        .info-header{
        font-family: Arial;
        color:var(--secondary-color)
           
         }
        #info-displayed{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 30px;
            align-items: center;
            color:var(--secondary-color)
        }
        #display-image{
            width: 280px;
            height: 280px;
            border-style: solid;
            border-color: black;
        }

     .info-container{
        width: 50%;
        position: relative;
        bottom: 123px;
        left: 20px;
     }
     #Checkout{
        color:var(--secondary-color)
     }
     #icon{
        width: 55px;
        height: 55px;
        align-self: center;
        margin-right: 30px;
        cursor: pointer;
     }
     

        